/*Slider
.sl-slider-wrapper {
	width: 100%;
	height: 100%;
	margin: auto;
	position: relative;
	overflow: hidden;
}

.sl-slider {
	position: absolute;
	top: 0;
	left: 0;
}

.sl-slide,
.sl-slides-wrapper,
.sl-slide-inner {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
} 

.sl-slide{
	z-index: 1;
}*/

/*Applies to entire site*/

html{background-color:#E0E0E0;}

.H1{font-size: 2em;}

.H2{font-size:1.5em;}

.text{font-size: 12px;}

