/*apply to entire site*/
h1 a{font-family: sans-serif;color:#FFFFFF;}
h2{font-family: sans-serif;color:#2A1506;}

body{
	padding: 0px;
	margin: 0px;
}

#wrapper,body,html{
	height: 100%;
	min-height: 100%;
	width: 100%;
	display: block;
}
#wrapper{
	overflow: hidden;
}

.row{
	display: block;
	min-height: 10px;
	clear: both;
	overflow: hidden;
}

.col{
	float: left;
}
/*header and logo area*/

header{background: url('images/beans.jpg');}

#logo-area{
	width: 25%;
	margin: auto;
}

	/*Top Menu, Some of this applies to all lists*/

	#top-menu{
		background-color: #2A1506;
		word-spacing: 4em;
		position: relative;
		bottom: 15px;
	}


	#top-menu li{
		display: inline-block;
		color:#D2B48C;
	}

	#top-menu nav ul{
		width: 50%;
		margin: auto;
	}

	nav li a{color:#D2B48C;}
	a:link {text-decoration:none;}
	a:visited {text-decoration: none;}

/* index page content*/



#l-column {
	width: 41%;
	margin-left: 6%;
}


#l-column h2{

	text-align: center;
}

#l-column p{
	text-align: center;
}

#r-column {
	width: 41%;
	margin-left: 4%;
	margin-right: 6%;
}


#r-column h2{
	text-align: center;
}

#r-column p{
	text-align: center;
}

@media screen and (max-width: 600px){
	#l-column{
		float:none;
		width: 94%;
		margin:3%;
	}
	#r-column{
		float:none;
		width: 94%;
		margin:3%;
	}
}

/*footer*/
#site-footer{
	width: 100%;
	background-color: #2A1506;
}

#site-footer p{
	text-align: center;
	line-height: .25em;
	color:#D2B48C;
}



