@font-face {
	
  font-family: 'LeagueGothic';
  src: url('/type/LeagueGothic-Regular-webfont.eot'),
    url('/type/LeagueGothic-Regular-webfont.woff'),
    url('/type/LeagueGothic-Regular-webfont.ttf'),
    url('/type/LeagueGothic-Regular-webfont.svg');
}
/*@font-face {
  font-family: 'LeagueGothic';
  src: url('type/LeagueGothic-Regular-webfont.eot');
  src: url('type/LeagueGothic-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('type/LeagueGothic-Regular-webfont.woff') format('woff'),
    url('type/LeagueGothic-Regular-webfont.ttf') format('truetype'),
    url('type/LeagueGothic-Regular-webfont.svg#LeagueGothic') format('svg');
}*/

/*applies to entire site*/
*body{
	padding: 0px;
	margin: 0px;
}

*{font-family:sans-serif;}

nav li a{color: black;}
a:link {text-decoration: none;}
a:visited {text-decoration: none;}

/*header*/

#header{
	max-width: 100%;
}

#logo img{
	max-width: 50%;
}

#top-menu li{
			display:inline-block;
		}

#top-menu{
	text-align: right;
	margin-right: 10%;
	word-spacing: 1em;
	font-weight: bold;
}

#header{
	border-bottom: .15em solid black;
	width: 98%;
	margin: auto;
	margin-top: 0em;
	margin-bottom: 2em;
	}

/*aside*/

	/*Question: Can I keep my margin-bottom at 15px 
	and have it still be considered responsive design?*/
		
		#siderbar li{list-style-type: none;
						margin-bottom: 15px;
						font-weight: bold;
						font-size: .75em;
		}

		#side{
					float:left;
					left: 2%;
					width: 28%;
					}



/*content*/

#content {
	float: right;
	width: 63%;
	margin-left: 5%;
		margin-right: 2%;
}
	h6{padding: 0px;
		margin: 0px;}

	h2{text-transform: uppercase;
		font-family: 'LeagueGothic';
		padding: 0px;
		margin: 0px;
		}

/*other pages*/

.more-info{
	margin-left: 4%;
	margin-right: 4%;

}
